<div class="form-input-container">
    <div class="input-header">
        {{name()}}
        @if (passwordData()?.isLogin && !passwordData()!.isReset) {
            <div class="forgot-password" (click)="forgotPasswordClicked()"> {{ "auth-input.forgot-pass" | translate }} </div>
        }
    </div>
    <input 
        required
        class="form-input" 
        [type]="passwordData() ? 'password' : 'text'" 
        [attr.data-testId]="'input_'+ name()"
        [value]="value()" 
        (input)="updateValue($event)"
        [class.invalid]="wasInvalidated()"
    />
    @if (passwordData() && (!passwordData()!.isLogin || passwordData()!.isReset)) {
        <div class="password-validations">
            {{passwordData()!.validationMessageId | translate}}
        </div>
    }
</div>