<div 
    class="properties-container" 
    [style.top] = "entryPosition().top" 
    [style.left] = "entryPosition().left"
    #mainContainer
>
    <div class="entry-title">
        {{entry().name ? entry().name : "?"}}
    </div>
    <div class="section-container">
        <div class="section-title">
            Color
        </div>
        <div class="color-picker-container">
            <button 
                class="color-picker-button"
                [attr.data-testId]="'entry_' + entry().name + '_properties_color'" 
                [style.background]="getEntryColor()"
                (click)="toggleColorPickerVisible()"
            ></button>
            @if (colorPickerVisible()) {
                <color-sketch 
                    [color]="entry().color"
                    (onChangeComplete)="updateColor($event)" 
                    [presetColors]="[]"
                    [disableAlpha]="true"
                    class="color-picker"
                    (clickOutside)="toggleColorPickerVisible()"
                ></color-sketch>
            }
        </div>
    </div>
    <div class="section-container">
        <div class="section-title">
            Weight
        </div>
        <div class="weight-input-container">
            <button class="weight-button" (click)="updateWeightByButton(-1)">-</button>
            <input 
                class="weight-input" 
                type="text" 
                [attr.data-testId]="'entry_' + entry().name + '_properties_weight'" 
                [value]="entry().weight" 
                (input)="updateWeight($event)"
            >
            <button class="weight-button" (click)="updateWeightByButton(1)">+</button>
        </div>
    </div>
    <div class="entry-probabilty" [attr.data-testId]="'entry_' + entry().name + '_properties_probability'" >
        Probability {{entryService.getProbability(entry().id)}}%
    </div>
</div>