.entry-container {
    display: flex;
    align-items: center;
    height: 2.5rem;

    .entry-info {
        display: flex;
        align-items: center;
        flex: 1;
        padding-left: 1rem;
        padding-right: 0.2rem;
        height: 100%;
        background: #eee;
        border-radius: 10px;

        .name-input {
            height: 70%;
            width: 80%;
            font-size: large;
            text-align: center;
            text-overflow: ellipsis;
            border: none;
            background: #ffffff00;

            &:focus {
                outline: none;
            }
        }

        .remove-button {
            display: flex;
            justify-content: end;
            background: none;
            border: none;
            cursor: pointer;
            color: #666;
            font-size: larger;
            font-weight: bold;
            flex: 1;
            line-height: 1;
            margin-top: 1px;
            padding-right: 8px;
        }
    }

    .config-button-container {
        padding: 1rem;
        margin-left: auto;

        .config-button {
            background: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-secondary-grad) 100%);
            padding: 1px 0 0 0;
            font-size: 8px;
            height: 2.5rem;
            width: 2.5rem;
        }
    }

    .open-button-container {
        padding: 1rem;

        .open-button {
            background: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-secondary-grad) 100%);
            height: 2.5rem;
            width: 2.5rem;
        
            .open-char {
                font-size: 1.5rem;
                font-style: italic;
                color: var(--color-text);
                opacity: 0.85;    
            }
        }
    }
}