<div class="confirm-modal">
    <div class="confirm-container">
        <div class="confirm-header">
            <span class="action-word" [style.color]="confirmation()!.nameColor">{{confirmation()!.name}}</span> {{confirmation()!.headerText}}
        </div>
        <div class="confirm-body" [style.white-space]="'pre-line'">
            {{confirmation()!.bodyText}}
        </div>
        <div class="confirm-buttons-container">
            <button class="cancel-button" (click)="close()">
                Cancel
            </button>
            <button class="confirm-button" (click)="confirmation()!.confirmFunc()" data-testid="confirm">
                Confirm
            </button>
        </div>
    </div>
</div>