<div class="modal-container">
    <div class="open-container" data-testid="open_modal" (clickOutside)="closeModal()">
        <div class="open-header">
            <svg class="open-icon" x="0px" y="0px" viewBox="0 0 256 256" fill="currentColor">
                <g><g><g><path d="M16.3,44.9c-2.6,0.9-4,2.1-5.2,4.4l-1.1,2l0,59.3v59.3l12.9-45C32.4,91.6,36.1,79.4,37,78c0.7-1.1,2.1-2.5,3.2-3.1l1.9-1.3l86.2-0.1l86.2-0.1v-3.9c0-3.1-0.2-4.4-0.9-5.8c-1.2-2.3-3.4-4-6-4.6c-1.4-0.3-20.6-0.5-55.9-0.5H98l-0.2-4.1c-0.1-3.7-0.3-4.4-1.5-6.1c-0.7-1.1-2.2-2.4-3.2-2.9c-1.8-1-2.3-1-38.4-1.1C24.1,44.2,17.8,44.3,16.3,44.9z"/><path d="M49.7,80.9c-2.7,1-4.7,2.8-6.1,5.5c-0.7,1.3-8.4,27.6-17.5,59.4c-12.3,43-16.2,57.3-16,58.5c0.4,2.3,2.3,5,4.6,6.2l1.9,1.1l94.4,0.1c67.9,0.1,95,0,96.5-0.4c1.2-0.3,2.8-1.1,3.6-1.7c1.6-1.2,3.3-4.2,3.3-5.6c0-0.5,6.8-24.8,15.1-54.1c8.3-29.3,15.4-54.4,15.7-55.8c1.3-5,0.4-9.3-2.4-11.5c-3.2-2.5,1.7-2.4-98.8-2.4C67.9,80.3,51.1,80.4,49.7,80.9z"/></g></g></g>
            </svg>
            Open wheel
        </div>
        <div class="wheels-container">
            <div class="wheels-header">
                <div class="header-data">
                    <div [style.width]="'80%'">Name</div>
                    <div [style.width]="'20%'">Last updated</div>
                </div>
            </div>

            @for (wheel of wheels(); track wheel.id) {
                <div class="wheel-data-container" data-testid="open_wheels">
                    <div class="wheel-data" (click)="openWheel(wheel.id)">
                        <div [style.width]="'88%'">{{wheel.name}}</div>
                        <div [style.width]="'20%'">
                            {{wheel.updatedAt.slice(0,10)}}
                        </div>
                    </div>
                    <div class="wheel-delete-button" data-testid="wheel_delete" (click)="openDeleteConfirmation(wheel.id, wheel.name)">
                        <svg class="button" width="30px" height="30px" fill="currentColor" viewBox="0 0 1024 1024"><path d="M160 256H96a32 32 0 0 1 0-64h256V95.936a32 32 0 0 1 32-32h256a32 32 0 0 1 32 32V192h256a32 32 0 1 1 0 64h-64v672a32 32 0 0 1-32 32H192a32 32 0 0 1-32-32V256zm448-64v-64H416v64h192zM224 896h576V256H224v640zm192-128a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32zm192 0a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32z"/></svg>
                    </div>
                </div>
            }
        </div>
        <div class="buttons-container">
            <button class="create-button" data-testid="wheel_create" (click)="confirmation.set(createConfirmation())">
                Create new wheel
            </button>
        </div>
    </div>
    @if (confirmation()) {
        <confirm-modal
            [confirmation]="confirmation()!"
            [closeFunc]="closeConfirmation.bind(this)"
        />
    }
</div>