<div class="modal-container" (mousedown)="onClickOutside($event)">
    <div class="forgot-password-container">
        <div class="forgot-header">
           {{ "forgot-pass-modal.title" | translate }} 
        </div>
        <div class="forgot-description">
            {{ "forgot-pass-modal.desc" | translate }} 
         </div>
        <auth-input
            name="Email"
            (valueOutput)="updateEmail($event)"
            [wasInvalidated]="invalidatedSubmit()"
            [style.width]="'100%'"
        />

        <div class="submit-container">
            <button class="submit-button" data-testId="submit" (click)="submit()">
                {{ "forgot-pass-modal.send" | translate }}
            </button>
            <div class="submit-error-message" data-testId="error_message">
                {{submitErrorMessage()}}
            </div>
        </div>
        <div class="redirect-message" (click)="openLogin()">
            {{ "forgot-pass-modal.back" | translate }}
        </div>
    </div>
</div>