<div class="modal-container" (mousedown)="onClickOutside($event)">
    <div class="forgot-password-container">
        <div class="forgot-header">
           Password Reset 
        </div>
        <div class="forgot-description">
            Provide the email associated with your account to recover your password.
         </div>
        <auth-input
            name="Email"
            (valueOutput)="updateEmail($event)"
            [wasInvalidated]="invalidatedSubmit()"
            [style.width]="'100%'"
        />

        <div class="submit-container">
            <button class="submit-button" data-testId="submit" (click)="submit()">
                Send email
            </button>
        </div>
        <div class="redirect-message" (click)="openLogin()">
            Go back?
        </div>
    </div>
</div>