<div class="wheel-container">
    <div class="selected-text">
        @if (entryService.entries().length >= 2) {
            @if (spinClass() === spinClasses.active) {
                {{ selected().name }}
            } @else if (spinClass() === spinClasses.continuous) {
                <div class="click-the-wheel">
                    {{ selected().name }}
                </div>
            }
        }
    </div>

    <div class="wheel">
        @if (entryService.entries().length < 2) {
            <div class="not-enough-entries">
                You need at least 2 entries to start using the wheel
            </div>
        } @else {
            <svg 
                viewBox="0 0 120 120" 
                weight="450x" 
                height="450px" 
                fill="currentColor"
            >
                <circle cx="60" cy="60" r="51" fill="#ffffff"/>
                <g #wheelGroup
                    [class]="spinClass()"
                    (click)="onSpin()"
                    [style.--total-rotation]="totalRotation()"
                    [style.--initial-rotation]="initialRotation()"
                    (animationend)="animationFinished()"
                >
                    @for (segment of segments(); track $index) {
                        <path
                            [attr.d]="segment.path"
                            [attr.fill]="getColor(segment.id)"
                            (click)="selectEntry(segment)"
                        />
                        <text
                            class="segment-text"
                            [attr.transform]="segment.textTransform"
                            [attr.fill]="segment.textColor"
                            [style.font-size.px]="segment.fontSize" 
                            text-anchor="end"
                            dominant-baseline="central"
                        >
                            {{ segment.name }}
                        </text>
                    }
                </g>
                <circle cx="60" cy="60" r="7" fill="#121212"/> 
                <path fill="#999999" d="M4 8 L12 4 L12 12 Z" transform="translate(102,52)"/>
            </svg>
        }
    </div>
    <div class="wheel-name-text">
        Comida
    </div>
</div>