<div class="wheel-container">
    <div class="selected-text">
        @if (entries().length >= 2) {
            @if (spinClass() === spinClasses.active) {
                {{ selected().name }}
            } @else if (spinClass() === spinClasses.continuous) {
                <div class="click-the-wheel">
                    {{ selected().name }}
                </div>
            }
        }
    </div>

    <div class="wheel">
        @if (entries().length < 2) {
            <div class="not-enough-entries">
                You need at least 2 entries to start using the wheel
            </div>
        } @else {
            <svg 
                class="wheel-svg"
                viewBox="0 0 120 120" 
                fill="currentColor"
                data-testid="wheel"
            >
                <circle cx="60" cy="60" r="51" fill="#ffffff"/>
                <g #wheelGroup
                    [class]="spinClass()"
                    (click)="onSpin()"
                    [style.--total-rotation]="totalRotation()"
                    [style.--initial-rotation]="initialRotation()"
                    (animationend)="animationFinished()"
                >
                    @for (segment of segments(); track $index) {
                        <path
                            data-testid="segment"
                            [attr.d]="segment.path"
                            [attr.fill]="getColor(segment.id)"
                            (click)="selectEntry(segment)"
                        />
                        <text
                            class="segment-text"
                            data-testid="segment_text"
                            [attr.transform]="segment.textTransform"
                            [attr.fill]="segment.textColor"
                            [style.font-size.px]="segment.fontSize" 
                            text-anchor="end"
                            dominant-baseline="central"
                        >
                            {{ segment?.name }}
                        </text>
                    }
                </g>
                <circle cx="60" cy="60" r="7" fill="#121212"/> 
                <path fill="#999999" d="M4 8 L12 4 L12 12 Z" transform="translate(102,52)"/>
            </svg>
        }
    </div>
    <div class="wheel-name-text">
        <div class="name-edit-container" data-testid="wheel_name">
            @if (editNameActive()) {
                <input class="name-input" type="text" data-testid="wheel_name_edit_input" [value]="wheel().name" (input)="updateTempName($event)">
                <svg class="confirm-edit-icon" viewBox="0 0 24 24" fill="currentColor" (click)="switchEditName()" data-testid="wheel_name_confirm">
                    <path d="M17.0303 8.78039L8.99993 16.8107L5.4696 13.2804L6.53026 12.2197L8.99993 14.6894L15.9696 7.71973L17.0303 8.78039Z"/>
                </svg>
            } @else {
                {{wheel().name}}
                <svg class="edit-name-icon" fill="currentColor" viewBox="0 0 32 32" (click)="switchEditName()" data-testid="wheel_name_edit_button">
                    <path d="M0 32l12-4 20-20-8-8-20 20zM4 28l2.016-5.984 4 4zM8 20l12-12 4 4-12 12z"/>
                </svg>
            }
        </div>
    </div>
</div>