@use '../../../variables' as *;

:host {
    flex: 1;
    height: 100%;
    background: var(--color-background);
    color: var(--color-text);
    overflow: hidden;

    .wheel-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: map-get($breakpoints, mobile)) {
            height: 90vh;
        }

        .selected-text {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            width: 100%;
            height: 27px;
            font-size: x-large;

            .click-the-wheel {
                opacity: 0.25;
            }
        }

        .wheel {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-text);
            overflow: hidden;

            .wheel-svg {
                --wheel-size: 70vh;
                @media screen and (max-width: map-get($breakpoints, mobile)) {
                    --wheel-size: 55vh;
                }

                height: var(--wheel-size);
                width: var(--wheel-size);
            }

            .not-enough-entries {
                width: 50%;
                font-size: 30px;
                text-align: center;
                opacity: 0.25;
            }
    
            .segment-text {
                max-width: 60px;
                overflow: hidden;
            }          

            .spin-continuous {
                animation: spin-continuous 20s linear infinite;
                transform-origin: 60px 60px;
                cursor: pointer;
            }

            .spin {
                animation: spin 6s cubic-bezier(0.14, 0.87, 0.33, 1);
                transform-origin: 60px 60px;
                animation-fill-mode: forwards
            }

            .stop {
                transform: rotate(--initial-rotation);
            }

            @keyframes spin-continuous {
                from {
                  transform: rotate(var(--initial-rotation));
                }
                to {
                  transform: rotate(360deg);
                }
            }
        
            @keyframes spin {
                from {
                  transform: rotate(var(--initial-rotation));
                }
                to {
                  transform: rotate(var(--total-rotation));
                }
            }
        }

        .wheel-name-text {
            position: relative;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            font-weight: bold;
            font-size: 1.4rem;

            .name-edit-container {
                display: flex;
                align-items: center;
                position: relative;
                width: fit-content;

                .name-input {
                    width: 20rem;
                    background: none;
                    color: var(--color-text);
                    text-align: center;
                    border: 1px solid rgba(255, 255, 255, 0.226);
                    border-radius: 4px;

                    &:focus {
                        border: 1px solid rgba(255, 255, 255, 0.507); 
                        outline: 0;
                    }
                }

                .edit-name-icon {
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    right: 0;
                    transform: translate(2rem, -1px);
                    opacity: 0.25;
                    cursor: pointer;
                }

                .confirm-edit-icon {
                    position: absolute;
                    width: 35px;
                    height: 35px;
                    right: 0;
                    transform: translate(2.5rem);
                    opacity: 0.25;
                    cursor: pointer;
                }
            }
        }
    }

}