<div class="modal-container" (click)="onClickOutside($event)">
    <div class="selected-container">
        <div class="selected-header" [style.--selected-color]="selectedColor()">
            <button 
                class="mini-close-button" 
                [style.color]="contrastHelperService.getContrastTextColor(selectedColor())"
                (click)="close($event)"
            >
                x
            </button>
        </div>
        <div class="selected-text" data-testid="selected_entries">
            @for (entry of selectedEntries(); track entry.id) {
                <div class="entry-text">
                    {{entry.name ? entry.name : "-"}}
                </div>
            }
        </div>
        <div class="buttons-container">
            <button class="close-button" (click)="close($event)">
                Close
            </button>
            <button class="remove-button" (click)="remove($event)">
                Remove
            </button>
        </div>
    </div>
</div>

