<div class="modal-container" (mousedown)="onClickOutside($event)">
    <div class="auth-container">
        <div class="auth-header" (click)="authService.resetData()">
            {{ isLogin() ? "Log in with" : "Create your account" }}
        </div>
        <div class="auth-sso-container">
            <button class="sso-button google" (click)="authService.loginWithGoogle()">
                <svg width="20px" height="20px" viewBox="-3 0 262 262"><path d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027" fill="#4285F4"/><path d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1" fill="#34A853"/><path d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782" fill="#FBBC05"/><path d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251" fill="#EB4335"/></svg>
                Google
            </button>
        </div>
        <div class="auth-form">
            @if (!isLogin()) {
                <div style="display: flex; width: 70%; justify-content: space-between;">
                    <div class="form-input-container" style="width: 40%;">
                        <div class="input-header">
                            First Name
                        </div>
                        <input
                            required
                            class="form-input" 
                            type="text" 
                            [value]="formData().firstName" 
                            (input)="updateValue('firstName', $event)"
                            [class.invalid]="invalidatedSubmit().firstName"
                        >
                    </div>
                    <div class="form-input-container" style="width: 40%;">
                        <div class="input-header">
                            Last Name
                        </div>
                        <input 
                            required
                            class="form-input" 
                            type="text" 
                            [value]="formData().lastName" 
                            (input)="updateValue('lastName', $event)"
                            [class.invalid]="invalidatedSubmit().lastName"
                        />
                    </div>
                </div>
            }
            <div class="form-input-container">
                <div class="input-header">
                    Email
                </div>
                <input 
                    required
                    class="form-input" 
                    type="text" 
                    [value]="formData().email" 
                    (input)="updateValue('email', $event)"
                    [class.invalid]="invalidatedSubmit().email"
                />
            </div>
            <div class="form-input-container">
                <div class="input-header">
                    Password
                </div>
                <input 
                    required
                    class="form-input" 
                    type="password" 
                    [value]="formData().password" 
                    (input)="updateValue('password', $event)"
                    [class.invalid]="invalidatedSubmit().password"
                />
                @if (!isLogin()) {
                    <div class="password-validations">
                        {{passwordValidationMessage()}}
                    </div>
                }
            </div>
        </div>
        <div class="submit-container">
            <button class="submit-button" (click)="submit()">
                {{ isLogin() ? "Log in" : "Sign up" }}
            </button>
        </div>
        <div class="redirect-message">
            @if (isLogin()) {
                Not a member?
                <span (click)="switchAuthMode()" style="text-decoration: underline; cursor: pointer; margin-left: 3px;">
                    Sign up
                </span>
            } @else {
                Have an account?
                <span (click)="switchAuthMode()" style="text-decoration: underline; cursor: pointer; margin-left: 3px;">
                    Log in
                </span>
            }
        </div>
    </div>
</div>

