<div class="sidebar-container">
    <div class="header-container">
        <div class="header-text">
            {{hasEntries() ? "Properties" : ""}}
        </div>
        <div class="back-container">
            <button [class.disabled]="isRootWheel()" class="back-button" data-testid="go_back" (click)="openPreviousWheel()">
                <div class="back-text">
                    Previous wheel
                </div>
            </button>
        </div>
        <div class="header-text">
            {{hasEntries() ? "Nest" : ""}}
        </div>
    </div>
    <ul class="entries-container">
        @for (entry of entries(); track entry.id) {
            <entry
                [entryId]="entry.id"
                (removeEntry)="removeEntry($event)"
                (updateEntry)="updateEntry($event)"
            />
        }
    </ul>
    <div class="add-entry-container">
        <button class="add-entry-button" (click)="addEntry()">
            Add Entry
        </button>
    </div>
</div>