<div class="sidebar-container">
    <div class="back-container">
        <button [class.disabled]="isRootWheel()" class="back-button" data-testid="go_back" (click)="openPreviousWheel()">
            <div class="back-text">
                Go back
            </div>
        </button>
    </div>
    <ul class="entries-container">
        @for (entry of entries(); track entry.id) {
            <entry
                [entryId]="entry.id"
                (removeEntry)="removeEntry($event)"
                (updateEntry)="updateEntry($event)"
            />
        }
    </ul>
    <div class="add-entry-container">
        <button class="add-entry-button" (click)="addEntry()">
            Add Entry
        </button>
    </div>
</div>